# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.ty_cache
.mypy_cache
htmlcov/
.idea

# uv
.venv
.python-version

config/*
!config/configuration.yaml
!config/.storage/
!config/dashboards/
config/.storage/*
!config/.storage/auth
!config/.storage/auth_provider.homeassistant
!config/.storage/onboarding
!config/.storage/core.config
!config/.storage/core.config_entries
!config/.storage/core.device_registry
!config/.storage/core.entity_registry
!config/.storage/lovelace_resources
